# See https://pre-commit.com for more information
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff-format
        name: ruff format (run on commit)
      - id: ruff
        name: ruff check (run on commit)
        args: [--fix]
