---
extends: relaxed

rules:
  truthy: disable  # OpenFisca parameters use yes/no values
  # Disable warning level rules to remove flood in yamllint output
  indentation: disable
  line-length: disable
